.wrapper{
margin-bottom: var(--space-8);
background:linear-gradient(rgba(0,0,0, 0.2),rgba(0,0,0, 0.2)), url("@/assets/img/hero_bg_320.jpg");
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
height: 200px;


@media (min-width:425px){
    &{
        background:linear-gradient(rgba(0,0,0, 0.2),rgba(0,0,0, 0.2)), url("@/assets/img/hero_bg_320_2x.jpg");
    background-position: 50% 50%;}
    }    
@media (min-width:768px){
    &{
        background:linear-gradient(rgba(0,0,0, 0.2),rgba(0,0,0, 0.2)), url("@/assets/img/hero_bg_768.jpg");
    background-position: 50% 50%;}    
}
@media (min-width:1280px){
    &{
        background:linear-gradient(rgba(0,0,0, 0.2),rgba(0,0,0, 0.2)), url("@/assets/img/hero_bg_1280.jpg");
    background-position: 50% 50%;
    }    
}
}

