.wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  margin-bottom: var(--space-6);
}
.link {
  font-size: var(--fs-small-text);
  color: var(--color-text-secondary);
  cursor: pointer;
}
