.backdropWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
}

.contentWrapper {
  padding: 15px;
  background-color: var(--color-bg);
  max-width: 500px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
}
