.backdropWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-modal-backdrop);
  z-index: 1;
}

.contentWrapper {
  padding: 50px 10px 10px 10px;
  background-color: var(--color-bg);
  border-radius: var(--radius-md);
  background-color: var(--color-modal-content-background);
  border: 1px solid var(--color-border);

  min-width: 300px;
  max-width: 700px;
  position: relative;
  box-shadow: var(--shadow-card-hover);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--color-primary);
  cursor: pointer;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: var(--color-primary-hover);
}
