*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: var(--font-heading);
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
