.wrapper {
  padding: var(--space-5) 0;
  margin-bottom: var(--space-8);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: var(--color-text);
}
.link {
  color: var(--genre-text);
}
