.wrapper {
  padding: 20px 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: var(--color-text);
}
.link {
  color: var(--genre-text);
}
