.footer {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-6);
}
.link {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
